* {
	box-sizing: border-box;
}

.container {
	width: 300px;
	height: 300px;
	margin: 100px;
	perspective: 600px;
}

.cube {
	width: 300px;
	height: 300px;
	position: relative;
	transform-style: preserve-3d;
	transform: translateZ(-150px);
	transition: transform 1s;
}

.cube.roll-one {
	transform: translateZ(-150px) rotateY(0deg);
}

.cube.roll-two {
	transform: translateZ(-150px) rotateY(-90deg);
}

.cube.roll-three {
	transform: translateZ(-150px) rotateX(-90deg);
}

.cube.roll-four {
	transform: translateZ(-150px) rotateX(90deg);
}

.cube.roll-five {
	transform: translateZ(-150px) rotateY(90deg);
}

.cube.roll-six {
	transform: translateZ(-150px) rotateY(-180deg);
}

.side {
	width: 300px;
	height: 300px;
	position: absolute;
	background-color: antiquewhite;
	border: 2px solid black;
	font-size: 70px;
	text-align: center;
	border-radius: 10px;
}

.dots-container {
	padding-left: 20px;
	padding-top: 20px;
	display: grid;
	grid-template-rows: 100px 90px 100px;
	grid-template-columns: 100px 90px 100px;
	grid-row-gap: 10px;
	grid-column-gap: 10px;
	grid-template-areas:
		"one two three"
		"four five six"
		"seven eight nine";
}

.dot {
	height: 40px;
	width: 40px;
	background-color: black;
	border-radius: 50%;
	display: inline-block;
	position: relative;
}

.cube .one {
	transform: rotateY(0deg) translateZ(150px);
}

.one .dots-container .dot:nth-of-type(1) {
	grid-area: five;
}

.cube .two {
	transform: rotateY(90deg) translateZ(150px);
}

.two .dots-container .dot:nth-of-type(1) {
	grid-area: one;
}

.two .dots-container .dot:nth-of-type(2) {
	grid-area: nine;
}

.cube .three {
	transform: rotateX(90deg) translateZ(150px);
}

.three .dots-container .dot:nth-of-type(1) {
	grid-area: one;
}

.three .dots-container .dot:nth-of-type(2) {
	grid-area: five;
}

.three .dots-container .dot:nth-of-type(3) {
	grid-area: nine;
}

.cube .four {
	transform: rotateX(-90deg) translateZ(150px);
}

.four .dots-container .dot:nth-of-type(1) {
	grid-area: one;
}

.four .dots-container .dot:nth-of-type(2) {
	grid-area: three;
}

.four .dots-container .dot:nth-of-type(3) {
	grid-area: seven;
}

.four .dots-container .dot:nth-of-type(4) {
	grid-area: nine;
}

.cube .five {
	transform: rotateY(-90deg) translateZ(150px);
}

.five .dots-container .dot:nth-of-type(1) {
	grid-area: one;
}

.five .dots-container .dot:nth-of-type(2) {
	grid-area: three;
}

.five .dots-container .dot:nth-of-type(3) {
	grid-area: five;
}

.five .dots-container .dot:nth-of-type(4) {
	grid-area: seven;
}

.five .dots-container .dot:nth-of-type(5) {
	grid-area: nine;
}

.cube .six {
	transform: rotateY(180deg) translateZ(150px);
}

.six .dots-container .dot:nth-of-type(1) {
	grid-area: one;
}

.six .dots-container .dot:nth-of-type(2) {
	grid-area: three;
}

.six .dots-container .dot:nth-of-type(3) {
	grid-area: four;
}

.six .dots-container .dot:nth-of-type(4) {
	grid-area: six;
}

.six .dots-container .dot:nth-of-type(5) {
	grid-area: seven;
}

.six .dots-container .dot:nth-of-type(6) {
	grid-area: nine;
}